*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone*
.project
.pydevproject
.settings/
bin/
CACHEDIR.TAG
checkversion*
develop-eggs/
include/
lib/
parts/
src/*
!src/collective/
var/
buildout-cache/
