language: python
python:
  - 2.7

cache:
  pip: true
  directories:
    - buildout-cache/downloads
    - buildout-cache/eggs

install:
  - virtualenv .
  - bin/pip install -r requirements.txt
  - bin/buildout -c travis.cfg -N annotate
  - bin/buildout -Nc travis.cfg

script:
  - bin/test

notifications:
  email:
    - devs@imio.be
    - vincentfretin@ecreall.com
    - cedricmessiant@ecreall.com
